node_modules
dist
out-tsc
.next
tmp
build
target
.nx
.nx/cache
coverage
.turbo
.vercel
.vscode
.idea
.DS_Store
Thumbs.db
.env
.env.*
.git
**/*.tsbuildinfo
**/*.log
apps/*/tsconfig.tsbuildinfo
apps/*/.next/cache
libs/*/tsconfig.tsbuildinfo
prisma/generated
